@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Alineación*/
/*Mixins*/
body {
  /*Pagina principal*/
}
body nav {
  display: flex;
  flex-direction: row;
  align-content: center;
}
body nav #filtros {
  margin-top: 7px;
}
body nav #comprar {
  margin-left: 16px;
}
body nav div {
  justify-self: center;
  align-self: center;
}
body nav div img {
  width: 40px;
}

.SN, .Camperas, .Hoodies, .Remeras {
  background-image: url(../Media/fondosn.gif);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "h1 img button";
  background-color: #888888;
  height: 400px;
  filter: opacity(80%);
}
.SN:hover, .Camperas:hover, .Hoodies:hover, .Remeras:hover {
  filter: opacity(100%);
  transition: text 2s;
}
.SN:hover h1, .Camperas:hover h1, .Hoodies:hover h1, .Remeras:hover h1 {
  text-decoration: underline;
}
.SN h1, .Camperas h1, .Hoodies h1, .Remeras h1 {
  grid-area: h1;
  align-self: center;
  justify-self: center;
  font-size: xx-large;
  padding: 0%;
}
.SN img, .Camperas img, .Hoodies img, .Remeras img {
  grid-area: img;
  width: 200px;
  justify-self: center;
  align-self: center;
  grid-area: img;
}
.SN img:hover, .Camperas img:hover, .Hoodies img:hover, .Remeras img:hover {
  -webkit-animation-name: SN;
          animation-name: SN;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.SN button, .Camperas button, .Hoodies button, .Remeras button {
  grid-area: button;
  width: 150px;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.SN button:hover, .Camperas button:hover, .Hoodies button:hover, .Remeras button:hover {
  -webkit-animation-name: botones;
          animation-name: botones;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.SN button a, .Camperas button a, .Hoodies button a, .Remeras button a {
  color: #FCFCFC;
  text-decoration: none;
  font-size: larger;
}

.Remeras {
  background-color: #666f88;
  grid-template-areas: "h2 img button";
  transition: text 2s;
}
.Remeras:hover {
  transition: text 2s;
}
.Remeras:hover h2 {
  text-decoration: underline;
}
.Remeras h2 {
  grid-area: h2;
  align-self: center;
  justify-self: center;
  font-size: xx-large;
}
.Remeras img {
  grid-area: img;
  width: 250px;
  grid-area: img;
}
.Remeras img:hover {
  -webkit-animation-name: remeras;
          animation-name: remeras;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.Remeras button {
  grid-area: button;
  width: 150px;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.Remeras button:hover {
  -webkit-animation-name: botones;
          animation-name: botones;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.Hoodies {
  background-color: #788199;
  grid-template-areas: "h3 img button";
  transition: text 2s;
}
.Hoodies:hover {
  transition: text 2s;
}
.Hoodies:hover h3 {
  text-decoration: underline;
}
.Hoodies h3 {
  grid-area: h3;
  align-self: center;
  justify-self: center;
  font-size: xx-large;
}
.Hoodies img {
  grid-area: img;
  transition: width 2s, height 2s;
  width: 300px;
}
.Hoodies img:hover {
  -webkit-animation-name: fotos;
          animation-name: fotos;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.Hoodies button {
  grid-area: button;
  width: 150px;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.Hoodies button:hover {
  -webkit-animation-name: botones;
          animation-name: botones;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.Camperas {
  background-color: #65727c;
  grid-template-areas: "h4 img button";
  transition: text 2s;
}
.Camperas:hover {
  transition: text 2s;
}
.Camperas:hover h4 {
  text-decoration: underline;
}
.Camperas h4 {
  grid-area: h4;
  align-self: center;
  justify-self: center;
  font-size: xx-large;
}
.Camperas img {
  grid-area: img;
  width: 300px;
}
.Camperas img:hover {
  -webkit-animation-name: fotos;
          animation-name: fotos;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.Camperas button {
  grid-area: button;
  width: 150px;
  height: 50px;
  justify-self: center r;
  align-self: center;
}

/*Pagina de remeras, buzos y camperas*/
h1 {
  text-align: center;
  padding: 50px;
}
h1:hover {
  text-decoration: underline;
}

.b-seccion {
  background-image: url(../Media/fondoseccion.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.b-seccion .Seccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 120px;
  margin-top: 120px;
}
.b-seccion .Seccion div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 275px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 50px;
  border-style: inherit;
  font-size: 0px;
}
.b-seccion .Seccion div:hover button {
  visibility: visible;
}
.b-seccion .Seccion div button {
  visibility: hidden;
}
.b-seccion .Seccion div:hover {
  font-size: 20px;
}
.b-seccion .Seccion div:hover img {
  filter: blur(2px);
}
.b-seccion .Seccion div img {
  width: 250px;
  filter: blur(0px);
}
.b-seccion .Seccion div img:hover {
  filter: blur(2px);
}

/*Sobrenosotros.html*/
/*Sobrenosotros*/
.Sobrenosotros {
  background-image: url(../Media/fondoseccion.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.Sobrenosotros h1 {
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
}
.Sobrenosotros h1:hover {
  text-decoration: underline;
}
.Sobrenosotros p {
  font-size: 20px;
  padding: 100px;
}
.Sobrenosotros div {
  text-align: center;
}
.Sobrenosotros div img {
  width: 500px;
  text-align: center;
  filter: drop-shadow(5px 5px 5px);
  filter: blur(2px);
  margin-bottom: 100px;
}
.Sobrenosotros div img:hover {
  filter: blur(0px);
}

h2 {
  text-align: center;
  font-size: 50px;
}
h2:hover {
  text-decoration: underline;
}
h2 h1 {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
}
h2 h1:hover {
  text-decoration: underline;
}

h3 {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
}
h3:hover {
  text-decoration: underline;
}

h4 {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
}
h4:hover {
  text-decoration: underline;
}

/*Animaciones*/
@-webkit-keyframes fotos {
  0% {
    width: 300px;
  }
  100% {
    width: 350px;
  }
}
@keyframes fotos {
  0% {
    width: 300px;
  }
  100% {
    width: 350px;
  }
}
@-webkit-keyframes SN {
  0% {
    width: 200px;
  }
  100% {
    width: 250px;
  }
}
@keyframes SN {
  0% {
    width: 200px;
  }
  100% {
    width: 250px;
  }
}
@-webkit-keyframes remeras {
  0% {
    width: 250px;
  }
  100% {
    width: 300px;
  }
}
@keyframes remeras {
  0% {
    width: 250px;
  }
  100% {
    width: 300px;
  }
}
@-webkit-keyframes botones {
  0% {
    filter: drop-shadow(0px 0px 0px);
  }
  100% {
    filter: drop-shadow(5px 5px 5px);
  }
}
@keyframes botones {
  0% {
    filter: drop-shadow(0px 0px 0px);
  }
  100% {
    filter: drop-shadow(5px 5px 5px);
  }
}
/*Version pequeña*/
@media screen and (max-width: 575px) {
  .b-seccion .Seccion div img {
    width: 175px;
  }
}
/*Version mobile*/
@media screen and (max-width: 700px) {
  body .SN, body .Remeras, body .Hoodies, body .Camperas {
    filter: opacity(80%);
    font-size: small;
  }
  body .SN:hover, body .Remeras:hover, body .Hoodies:hover, body .Camperas:hover {
    filter: opacity(100%);
    transition: text 2s;
  }
  body .SN:hover h1, body .Remeras:hover h1, body .Hoodies:hover h1, body .Camperas:hover h1 {
    text-decoration: underline;
  }
  body .SN h1, body .Remeras h1, body .Hoodies h1, body .Camperas h1 {
    font-size: 22px;
  }
  body .SN img, body .Remeras img, body .Hoodies img, body .Camperas img {
    grid-area: img;
    width: 75px;
    margin: 0%;
  }
  body .SN img:hover, body .Remeras img:hover, body .Hoodies img:hover, body .Camperas img:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  body .SN button, body .Remeras button, body .Hoodies button, body .Camperas button {
    grid-area: button;
    width: 70px;
    height: 60px;
    justify-self: center;
    align-self: center;
  }
  body .SN button:hover, body .Remeras button:hover, body .Hoodies button:hover, body .Camperas button:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  body .SN button a, body .Remeras button a, body .Hoodies button a, body .Camperas button a {
    color: #FCFCFC;
    text-decoration: none;
    font-size: smaller;
  }
  body .Remeras {
    background-color: #666f88;
    grid-template-areas: "h2 img button";
    transition: text 2s;
  }
  body .Remeras:hover {
    transition: text 2s;
  }
  body .Remeras:hover h2 {
    text-decoration: underline;
  }
  body .Remeras h2 {
    grid-area: h2;
    align-self: center;
    justify-self: center;
    font-size: 22px;
  }
  body .Remeras img {
    grid-area: img;
    width: 75px;
  }
  body .Remeras img:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  body .Remeras button {
    grid-area: button;
    width: 70px;
    height: 60px;
    justify-self: center;
    align-self: center;
  }
  body .Remeras button:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  body .Hoodies {
    background-color: #788199;
    grid-template-areas: "h3 img button";
    transition: text 2s;
  }
  body .Hoodies:hover {
    transition: text 2s;
  }
  body .Hoodies:hover h3 {
    text-decoration: underline;
  }
  body .Hoodies h3 {
    grid-area: h3;
    align-self: center;
    justify-self: center;
    font-size: 22px;
  }
  body .Hoodies img {
    grid-area: img;
    width: 75px;
  }
  body .Hoodies img:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  body .Hoodies button {
    grid-area: button;
    width: 70px;
    height: 60px;
    justify-self: center;
    align-self: center;
  }
  body .Hoodies button:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  body .Camperas {
    background-color: #65727c;
    grid-template-areas: "h4 img button";
    transition: text 2s;
  }
  body .Camperas:hover {
    transition: text 2s;
  }
  body .Camperas:hover h4 {
    text-decoration: underline;
  }
  body .Camperas h4 {
    grid-area: h4;
    align-self: center;
    justify-self: center;
    font-size: 22px;
  }
  body .Camperas img {
    grid-area: img;
    grid-area: img;
    width: 75px;
  }
  body .Camperas img:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  body .Camperas button {
    grid-area: button;
    width: 70px;
    height: 60px;
    justify-self: center;
    align-self: center;
  }
  body .Camperas button:hover {
    transition: none;
    -webkit-animation: none;
            animation: none;
  }
  .Seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .Sobrenosotros h1 {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
  }
  .Sobrenosotros h1:hover {
    text-decoration: underline;
  }
  .Sobrenosotros p {
    font-size: 20px;
    padding: 20px;
  }
  .Sobrenosotros div img {
    width: 300px;
    margin-left: 50px;
    margin-bottom: 200px;
    border: #0C0B0B;
    filter: drop-shadow(5px 5px 5px);
    filter: blur(2px);
    box-sizing: 1px;
    border-radius: 5px;
  }
  .Sobrenosotros div img:hover {
    filter: blur(0px);
  }
  .Sobrenosotros h2 {
    text-align: center;
    font-size: 50px;
  }
  .Sobrenosotros h2:hover {
    text-decoration: underline;
  }
  .Sobrenosotros .contacto {
    justify-content: center;
    width: 200px;
    margin: 50px;
  }
}/*# sourceMappingURL=styles.css.map */